@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-shadow {
  box-shadow: 0 0 20px 10px  rgb(233, 40, 14);
  z-index: 1000
}

.custom-file-upload {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  display: none;
}

td, th, table {
  border: 1px solid black;
  border-collapse: collapse;
}
/* td, th {
  padding-left: 20px;
  padding-right: 20px;
} */
td{
  padding: 5px;
}
